CM_Registro.json
{
  "name": "CM-Registro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "registro-cm",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -420,
        -65
      ],
      "id": "912cc16d-ff8e-43c7-80dd-26646d817cc3",
      "name": "RegistroCM",
      "webhookId": "e77d35b0-144d-4847-88c7-5013c1e09a61"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff3f4a32-e2cf-4529-9941-3d13c7074685",
              "name": "ID",
              "value": "={{ $now.toMillis()}}",
              "type": "string"
            },
            {
              "id": "26423159-4594-4244-b409-d8283a189a2d",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "214e440a-e5f9-419a-b65b-9f55973037ef",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "0c1b563f-fa4d-466f-87b3-1dc8ba871ba6",
              "name": "whatsapp",
              "value": "={{ $json.whatsapp }}",
              "type": "string"
            },
            {
              "id": "9e91fe79-ef08-4980-89d8-fb7ce74e3b73",
              "name": "fecha de nacimiento",
              "value": "={{ $json[\"fecha de nacimiento\"] }}",
              "type": "string"
            },
            {
              "id": "97d05a8c-5402-473c-acb5-0a47c52f5559",
              "name": "contraseña",
              "value": "={{ $json[\"contraseña\"] }}",
              "type": "string"
            },
            {
              "id": "523e86e9-629a-46c7-9ae9-76c4f4328e0b",
              "name": "contraseñasCoinciden",
              "value": "={{ $json[\"contraseñasCoinciden\"] }}",
              "type": "string"
            },
            {
              "id": "9d67437a-833a-48dc-9026-8fb0bef202a6",
              "name": "contraseñaValida",
              "value": "={{ $json[\"contraseñaValida\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -65
      ],
      "id": "a0a386d4-0849-43fc-a674-bec8df16c7cf",
      "name": "capturaDatos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5914a00-d4fe-4c96-bc2e-38c6db2578b5",
              "leftValue": "={{ $json[\"contraseñasCoinciden\"] }}",
              "rightValue": "=true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        -65
      ],
      "id": "20bf92a4-f540-4dbc-8cba-22dbeab6b7a0",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1uqONhcwhVGJf6NT5MRC8bGLDzHiLaLXFI9o96Ing0BA",
          "mode": "list",
          "cachedResultName": "BaseDatosCherryMary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uqONhcwhVGJf6NT5MRC8bGLDzHiLaLXFI9o96Ing0BA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uqONhcwhVGJf6NT5MRC8bGLDzHiLaLXFI9o96Ing0BA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "whatsapp",
              "displayName": "whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha de nacimiento",
              "displayName": "fecha de nacimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contraseña",
              "displayName": "contraseña",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contraseñasCoinciden",
              "displayName": "contraseñasCoinciden",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contraseñaValida",
              "displayName": "contraseñaValida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1120,
        -115
      ],
      "id": "7de69dde-0c3a-4840-bef3-023fd0dbe7a7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xBnCSOYwkcKfXwP3",
          "name": "Google Sheets Local"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uqONhcwhVGJf6NT5MRC8bGLDzHiLaLXFI9o96Ing0BA",
          "mode": "list",
          "cachedResultName": "BaseDatosCherryMary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uqONhcwhVGJf6NT5MRC8bGLDzHiLaLXFI9o96Ing0BA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uqONhcwhVGJf6NT5MRC8bGLDzHiLaLXFI9o96Ing0BA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "telefono",
              "lookupValue": "={{ $json.telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        460,
        -290
      ],
      "id": "19ce0b4a-3a76-4a99-ad80-edde15ae02ca",
      "name": "buscarCliente",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xBnCSOYwkcKfXwP3",
          "name": "Google Sheets Local"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19cfcfe6-82e5-4910-942c-89f75cd9473b",
              "leftValue": "{{ $json.telefono }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "898312fa-170c-456e-bd8b-6cc67c75265d",
              "leftValue": "={{ $json.nombre }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        -280
      ],
      "id": "781edaed-a22c-4715-9174-71d44c9a6284",
      "name": "verificarRegistros",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const body = item.json.body;\n\n  // Normalizar nombre y apellido quitando espacios múltiples y laterales\n  const nombre = body.nombre ? body.nombre.trim().replace(/\\s+/g, ' ') : '';\n  const apellido = body.Apellido ? body.Apellido.trim().replace(/\\s+/g, ' ') : '';\n\n  // Concatenar con solo un espacio entre ellos\n  const nombreCompleto = `${nombre} ${apellido}`.replace(/\\s+/g, ' ').trim().toUpperCase();\n\n  // Limpiar el número y conservar solo los últimos 10 dígitos\n  let telefono = body.telefono ? body.telefono.replace(/[^0-9]/g, '') : '';\n  telefono = telefono.length > 10 ? telefono.slice(-10) : telefono;\n\n  const whatsapp = (body.whatsapp === true || body.whatsapp === \"true\") ? \"SI\" : \"NO\";\n  const fechaNacimiento = body[\"fecha de nacimiento\"] || '';\n\n  const contraseña1 = body.contraseña1 ? body.contraseña1.trim() : '';\n  const contraseña2 = body.contraseña2 ? body.contraseña2.trim() : '';\n  const contraseñasCoinciden = (contraseña1 === contraseña2);\n  const contraseñaValida = /^(?=.*[A-Z])(?=.*\\d).{8,}$/.test(contraseña1);\n\n  return {\n    json: {\n      nombre: nombreCompleto,\n      telefono,\n      whatsapp,\n      \"fecha de nacimiento\": fechaNacimiento,\n      contraseña: contraseña1,\n      contraseñasCoinciden,\n      contraseñaValida\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        -65
      ],
      "id": "c9051194-11ca-47d7-832c-c622bce126ac",
      "name": "Code"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"mensaje\": \"Las contraseñas no coinciden\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        460,
        85
      ],
      "id": "b6637a60-9e00-4e9f-b910-16f8d15764a2",
      "name": "errorContraseña"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        900,
        -115
      ],
      "id": "f77af35a-b3d8-43a3-a04f-c28c2eb8c9b7",
      "name": "datosRegistro"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"mensaje\": \"El número ya está registrado.\",\n  \"existe\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        900,
        -340
      ],
      "id": "fdb593bc-7f9f-4139-a932-73e6590d26cb",
      "name": "usuarioExistente",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "http://localhost:5678/webhook-test/registro-cm",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        -340
      ],
      "id": "6e9fdf25-2b08-4f83-9aca-17516783ce7b",
      "name": "iniciarRegistro"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectURL": "http://localhost:5678/webhook-test/registro-cm",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        680,
        85
      ],
      "id": "e70d01a3-426f-4c8d-b167-5c8f0c0b2a4a",
      "name": "iniciarRegistro1"
    }
  ],
  "pinData": {},
  "connections": {
    "RegistroCM": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturaDatos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "buscarCliente",
            "type": "main",
            "index": 0
          },
          {
            "node": "datosRegistro",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "errorContraseña",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscarCliente": {
      "main": [
        [
          {
            "node": "verificarRegistros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "verificarRegistros": {
      "main": [
        [
          {
            "node": "usuarioExistente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "datosRegistro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "capturaDatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "datosRegistro": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "usuarioExistente": {
      "main": [
        [
          {
            "node": "iniciarRegistro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "errorContraseña": {
      "main": [
        [
          {
            "node": "iniciarRegistro1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "330a47f1-f2eb-467e-8a32-2b997dbd8294",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50f44b7b8732fa1ab8d4b71bf0f5b47716d18ea255dcac1384d337c2955f482c"
  },
  "id": "PMWwLv8qjUSKPQhv",
  "tags": []
}